<div class="home-content">
  {{{body}}}
</div>
<hr/>
<ul class="essays-list">
  {{#essays}}
    {{#if essays}}
    <li class="category-title"><p>{{categoryTitle}}</p>
      <ul>
        {{#essays}}
        <li>
          <a href="/{{slug}}/">{{title}}</a>
        </li>
        {{/essays}}
      </ul>
    </li>
    {{else}}
    <li>
      <a href="/{{slug}}/">{{title}}</a>
    </li>
    {{/if}}
  {{/essays}}
</ul>