<div class="home-content">
  {{{body}}}
</div>
<hr/>
<p><a target="_blank" href="https://twitter.com/techwraith">Daniel Erickson</a> is the Founder and CEO of <a target="_blank" href="https://askviable.com">Viable</a>, an Autonomous Expereince Analysis tool that helps teams make better decisions with qualitative data. He has written the following essays:</p>
<ul class="essays-list">
  {{#essays}}
    {{#if essays}}
    <li class="category-title"><p>{{categoryTitle}}</p>
      <ul>
        {{#essays}}
        <li>
          <a href="/{{slug}}/">{{title}}</a>
        </li>
        {{/essays}}
      </ul>
    </li>
    {{else}}
    <li>
      <a href="/{{slug}}/">{{title}}</a>
    </li>
    {{/if}}
  {{/essays}}
</ul>